h1 {
    font-family: 'yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #7EB693;
    margin: 0 auto;
}

h2 {
    font-family: 'roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    color: #274C5B;
    margin: 0 auto;
}

.sekt {
    display: flex;
    flex-direction: column;
    margin-top: 47px;
    margin-bottom: 22px;
}