.sekt1 {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.food {
    width: 447px;
    display: flex;
    flex-direction: column;
    background: #F9F8F8;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 20px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.36px;
    color: #274C5B;
    padding-left: 30px;
    padding-right: 30px;

    &span {
        width: 194px;
    }
}

a {
    text-decoration: none;
}

.btn {
    margin-top: 30px;
    margin-bottom: 0px;
    display: flex;
}

.veg {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #FFFFFF;
    background: #274C5B;
    border-radius: 8px;
}

hr {
    border: 1px solid #D4D4D4;
    width: 386px;
    margin-top: 11px;
    margin-bottom: 10px;
}

.prise {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color: #274C5B;
    display: inline-flex;
    align-items: center;
    margin-bottom: 35px;

    & span {
        font-weight: 400;
        font-size: 17px;
        text-decoration-line: line-through;
        color: #B8B8B8;
        margin-right: 10px;
    }
}

